#app {
  display: flex;
  width: 100%;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
#app section#read {
  border: 1px solid skyblue;
  padding: 10px;
}
#app section#read ul {
  list-style: none;
  padding: 0;
}
#app section#read ul li {
  margin-bottom: 10px;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
#app section#read ul li span {
  display: inline-block;
  font-size: 20px;
}
#app section#read ul li span.tree-id {
  font-weight: bold;
  color: cadetblue;
  width: 50px;
}
#app section#read ul li span.tree-name {
  width: 120px;
}
#app section#read ul li span.tree-height {
  width: 80px;
  font-style: italic;
}
#app section#read ul li span.tree-type {
  width: 100px;
  color: orange;
}
