:root {
    --blue: #1e90ff;
    --container-width: 1200px;
    --trans: all 0.4s;
    --rabbit-color: #fbf022;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
}

header {
    background-color: var(--blue);
    padding: 30px 20px;
}

header nav {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 0 20px 0 100px;
}

header nav svg {
    width: 90px;
    fill: white;
    position: absolute;
    top: -23px;
    left: 0;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 30px;
    line-height: 1.5;
    transition: var(--trans);
}

header nav a:hover {
    color: var(--rabbit-color);
}

.hero {
    width: 100%;
    height: calc(100vh - 105px);
    position: relative;
    font-size: 0;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: forest;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: scale(1);
    filter: brightness(1);
}

@keyframes forest {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }
    93% {
        filter: brightness(1);
    }
    99% {
        transform: scale(2);
        filter: brightness(0.05);
    }
    99.5% {
        transform: scale(1);
        filter: brightness(0.05);
    }
    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}

.hero-text {
    width: 100%;
    position: absolute;
    bottom: 120px;
    left: 0;
}

.hero-text-holder {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.hero-text-bg {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
    border-radius: 40px;
    display: inline-block;
    box-sizing: border-box;
}

.hero-text h1 {
    font-size: 60px;
    color: var(--blue);
    margin: 0;
    max-width: 600px;
}

.hero-text p {
    font-weight: 200;
    font-size: 20px;
    color: white;
    max-width: 600px;
    
}

.stats {
    width: 100%;
    display: flex;
    justify-content: center;

}

.stats-bin {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    max-width: var(--container-width);
    display: flex;
    padding: 0 30px;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
    row-gap: 50px;
    flex-wrap: wrap;
    
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 20px;
    width: 100%;
    max-width: 280px;
    min-width: 230px;
}

.stats h4 {
    font-size: 60px;
    color: var(--blue);
    margin: 0;
}

.stat p {
    font-size: 20px;
    color: gray;
    margin: 0;
    text-align: center;
}


.box-content-left svg {
    width: 100px;
    height: 100px;
}


