#nr1,
#nr2,
#nr3,
#nr4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    padding: 50px;
}

#nr1 div {
    width: 100px;
    height: 100px;
    background-color: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

#nr2 div {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    font-family: monospace;
}

#nr2 .blue {
    width: 80px;
    height: 80px;
    background-color: skyblue;
}

#nr2 .red {
    width: 120px;
    height: 120px;
    background-color: crimson;
}

#nr3 div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid darkmagenta;
    align-items: center;
    color: darkmagenta;
    font-size: 30px;
    font-family: monospace;
}

#nr4 .blue {
    color: skyblue;
}

#nr4 .big {
    background-color: black;
}