$josefin: "Josefin Sans", sans-serif;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 375px;

$blue: #08415C;
$red: #CC2936;
$bg: #E9FFF9;
$yellow: #F1D302;
$black: #220901;
$white: #FFFFFF;

* {
    box-sizing: border-box;
}

body {
  font-family: $josefin;
  margin: 0;
}

ul, li, p, h1, h2, h3, h4, h5, h6, a, button {
    list-style: none;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    justify-content: center;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: $xl;
        background-color: $bg;
        padding: 0 20px;
        height: 100px;
        nav {
            padding: 10px;
            ul {
                display: flex;
                column-gap: 30px;
                li {
                    a {
                        color: $blue;
                        font-size: 30px;
                        text-decoration: none;
                        font-weight: 200;
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        border-bottom: 1px solid transparent;
                        transition: all 0.3s ease;
                        &.in-use {
                            color: $red;
                        }
                        &:hover {
                            border-bottom: 1px solid $red;
                        }
                    }
                }
            }
        }
        .cart {
            position: relative;
            svg {
                width: 40px;
                height: 40px;
            }
            .list {
                position: absolute;
                top: 50px;
                right: -20px;
                background-color: $white;
                border: 3px solid $bg;
                padding: 10px;
                z-index: 1;
                ul {
                    width: 320px;
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 10px;
                        img {
                            width: 50px;
                            height: 50px;
                        }
                        .info {
                            display: flex;
                            align-items: center;
                            column-gap: 5px;
                            h3 {
                                font-size: 18px;
                                color: $blue;
                                font-weight: 500;
                            }
                            p {
                                font-size: 15px;
                                color: $black;
                                font-weight: 300;
                            }
                        }
                        button {
                            background-color: $red;
                            height: 30px;
                            color: $white;
                            border: none;
                            padding: 5px 10px;
                            border-radius: 5px;
                            cursor: pointer;
                            transition: all 0.3s ease;
                            &:hover {
                                background-color: $yellow;
                            }
                        }
                    }
                }
            }
        }
    }
}