@import 'bootstrap/scss/bootstrap';
@import './buttons';

button {
    height: 38px;
    padding: 0 30px;
    line-height: 1;
}


.states-cb {
    margin-top: 30px;
    input {
        display: none;
    }
    label {
        padding: 5px;
        text-align: center;
        width: 50px;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 5px;
        user-select: none;
        border: 1px solid #dddddd;
        transition: all .3s;
        &:hover {
            border-color: $yellow;
        }
    }
    input:checked + label {
        background-color: $yellow;
        color: white;
    }
}

.satellites {
    .satellite {
        display: flex;
        column-gap: 10px;
        align-items: center;
        input {
            height: 38px;
        }
    }
}