@use "sass:color";
@use 'colors.scss' as C;



@mixin nice-button {
    appearance: none;
    backface-visibility: hidden;
    background-color: C.$gray;
    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin: 10px;

    &:hover {
        background-color: color.adjust(C.$gray, $lightness: -5%);
        box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
        opacity: 1;
        transform: translateY(0);
        transition-duration: .35s;

        &:after {
            opacity: .5;
        }
    }

    &:active {
        box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
        transform: translateY(2px);
        transition-duration: .35s;

        &:after {
            opacity: 1;
        }
    }
    &.red {
        background-color: C.$red;

        &:hover {
            background-color: color.adjust(C.$red, $lightness: -5%);
        }
    }
    &.blue {
        background-color: C.$blue;

        &:hover {
            background-color: color.adjust(C.$blue, $lightness: -5%);
        }
    }
    &.green {
        background-color: C.$green;

        &:hover {
            background-color: color.adjust(C.$green, $lightness: -5%);
        }
    }
    &.yellow {
        background-color: C.$yellow;

        &:hover {
            background-color: color.adjust(C.$yellow, $lightness: -5%);
        }
    }
    &:disabled {
        background-color: gray;
        cursor: default;
        opacity: .5;
        &:hover {
            background-color: gray;
        }
    }
}