@use 'sass:color';
@use 'vars.scss' as V;
@use 'colors.scss' as C;


.post {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    h2 {
        font-size: 30px;
        margin-bottom: 10px;
        margin-top: 0;
        text-align: center;
    }
    .post-image {
        width: 100%;
        height: 600px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
    .post-top {
        display: flex;
        align-items: center;
        column-gap: 10px;
        .author {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            border-radius: 50%;
            background-color: aliceblue;
            width: 50px;
            height: 50px;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
    .post-bottom {
        display: flex;
        align-items: center;
        column-gap: 30px;
        .likes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            width: 100px;
            height: 30px;
            border-radius: 15px;
            background-color: cadetblue;
            padding: 0 10px;
            i {
                font-size: 20px;
                font-style: normal;
                cursor: pointer;
                user-select: none;
                transition: all 0.2s ;
                &.down:hover {
                    color: C.$red;
                }
                &.up:hover {
                    color: C.$green;
                }
            }
        }
    }
}